<div class="row">
  <md-card>
    <img md-card-image src="assets/img/moviePosterBanner.jpg">
    <md-card-title><i class="fa fa-film" aria-hidden="true"></i> Media Fest <i class="fa fa-ticket" aria-hidden="true"></i>
    </md-card-title>
    <md-card-content>
      <p class="lead text-primary"><small>Whats the latest buzz</small></p>
    </md-card-content>
  </md-card>
  <div class="col-md-4">
    <blog-summary-list></blog-summary-list>
    <blog-create></blog-create>
    <tag-list></tag-list>
  </div>

  <div class="col-md-8">
    <blog-abstract-list></blog-abstract-list>
  </div>
</div>