 <div class="col">
    <md-card>
      <img md-card-image src="assets/img/moviePosterBanner.jpg">
      <md-card-title><i class="fa fa-film" aria-hidden="true"></i><b> Media Fest </b><i class="fa fa-ticket" aria-hidden="true"></i>
      </md-card-title>
      <!-- <md-card-content>
      <p class="lead text-primary"><i>
          <small>Whats the latest buzz</small></i></p>
    </md-card-content> -->
    </md-card>
  </div>
<div class="row">

  <div class="col-md-4">
    <blog-summary-list></blog-summary-list>
    <tag-list></tag-list>
    <blog-create></blog-create>
    
  </div>

  <div class="col-md-8">
    <blog-abstract-list [searchString]="searchService.searchJSON.tag"></blog-abstract-list>
  </div>
</div>