<div class="container-fluid">
	<div class="row">
		<div class="col well">
			<h1>Users</h1>
			<spinner [visible]="isLoading"></spinner>
			<p>
				<a *ngIf="!isLoading  && !userServiceError" [routerLink]="['/users/new']" class="btn btn-primary">Add User</a>
			</p>
			<alert [visible]="userServiceError" [alert-message]="errorMessage"></alert>
			<table *ngIf="!isLoading && !userServiceError" class="table table-bordered table-hover super-centered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let user of users">
						<td>{{ user.name }}</td>
						<td>{{ user.mail }}</td>
						<td>
							<a [routerLink]="['/users', user.name,user.uid]">
								<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							</a>
						</td>
						<td>
							<i (click)="deleteUser(user)" class="fa fa-trash-o" aria-hidden="true"></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>