<spinner [visible]="isLoading"></spinner>
<div class="col-lg-12" *ngIf="!isLoading">
    <md-list dense>
        <h3 md-subheader><b>Trending Blogs</b> <i class="fa fa-line-chart" aria-hidden="true"></i></h3>
        <md-card>
            <md-list-item *ngFor="let blog of blogs" md-expando>
                <a md-list-avatar [routerLink]="['/blog-user', { name: blog.authorname, id: blog.authorid }]">
                    <img md-list-avatar [src]="blog.authoravatar" alt="...">
                </a>
                <a md-line [routerLink]="['/blog', { id: blog.id }]"> {{blog.title}} </a>
                <h5 md-line><em>{{blog.authorname}}</em></h5>
                <p md-line class="demo-secondary-text"><i class="fa fa-clock-o" aria-hidden="true"></i> {{blog.postDate | date:'longDate'}} </p>
            </md-list-item>
        </md-card>
        <md-divider></md-divider>
        <h3 md-subheader><b>Older</b> <i class="fa fa-list" aria-hidden="true"></i></h3>
        <md-card>
        <md-list-item *ngFor="let blog of olderBlogs" md-expando>
            <a md-list-avatar [routerLink]="['/blog-user', { name: blog.authorname, id: blog.authorid }]">
                <img md-list-avatar [src]="blog.authoravatar" alt="...">
            </a>
            <a md-line [routerLink]="['/blog', { id: blog.id }]"> {{blog.title}} </a>
            <h5 md-line><em>{{blog.authorname}}</em></h5>
        </md-list-item>
        </md-card>
    </md-list>
</div>