<div class="col-lg-12">
    <md-list dense>
        <h3 md-subheader>Today</h3>
        <md-list-item *ngFor="let blog of blogs">
            <img md-list-avatar [src]="blog.avatar" alt="...">
            <a md-line href="javascript:void(0)"> {{blog.title}} </a>
            <h5 md-line><em>{{blog.author}}</em></h5>
            <p md-line class="demo-secondary-text"><i class="fa fa-clock-o" aria-hidden="true"></i> {{today | date:'longDate'}} </p>
        </md-list-item>
        <md-divider></md-divider>
        <h3 md-subheader>Older</h3>
        <md-list-item *ngFor="let blog of olderBlogs">
            <img md-list-avatar [src]="blog.avatar" alt="...">
            <a md-line href="javascript:void(0)"> {{blog.title}} </a>
            <h5 md-line><em>{{blog.author}}</em></h5>
        </md-list-item>
    </md-list>
</div>