<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2>Login</h2>
                    <br>
                    <div *ngIf="error" class="alert alert-dismissible alert-danger">
                        Check your username & password.
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="inputs col-lg-12">
                            <form id="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
                                <div class="form-group  label-floating" [ngClass]="{'has-error': loginForm.controls['username'].touched && !loginForm.controls['username'].valid }">
                                    <label for="u2" class="control-label">Username</label>
                                    <input type="text" 
                                        id="u2" 
                                        tabindex="1" 
                                        class="form-control" 
                                        [formControl]="loginForm.controls['username']"
                                        >
                                   <div *ngIf="loginForm.controls['username'].touched && !loginForm.controls['username'].valid">
                                        <span *ngIf="loginForm.controls['username'].hasError('invalidLogin')" class="help-block">Username or password is invalid.</span>
                                        <span *ngIf="loginForm.controls['username'].hasError('required')" class="help-block">Username is required.</span>
                                        <span *ngIf="loginForm.controls['username'].hasError('cannotContainSpace')" class="help-block">Username cannot contain space.</span>
                                    </div>
                                </div>
                                <div class="form-group label-floating" [ngClass]="{'has-error': loginForm.controls['password'].touched && !loginForm.controls['password'].valid }">
                                    <label for="p2" class="control-label">Password</label>
                                    <input type="password" 
                                            id="password" 
                                            tabindex="2" 
                                            class="form-control" 
                                            [formControl]="loginForm.controls['password']"
                                            >
                                    <span *ngIf="loginForm.controls['password'].touched && !loginForm.controls['password'].valid" class="help-block">Password is required.</span>
                                </div>
                                <div class="form-group text-center">
                                    <md-checkbox 
                                        (change)="isIndeterminate = false" 
                                        [indeterminate]="isIndeterminate" 
                                        [disabled]="isDisabled"
                                        [align]="alignment"
                                        >Remember me</md-checkbox>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <button class="form-control btn btn-primary" name="login-submit" id="login-submit" type="submit" [disabled]="!loginForm.valid || isLoading"
                                                tabindex="4"><i *ngIf="isLoading" class="fa fa-spinner fa-spin"> </i>Log In</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>