<div class="container">
    <div class="row well">
        <div class="inputs">
            <h4><b>{{ title }}</b></h4>
            <div>
                <form class="form-search" id="search-by-title-form" #solrForm="ngForm" (ngSubmit)="search()">
                    <div class="form-group label-floating">
                        <label class="control-label">Filter by Category</label>
                        <xp-solr-multiselect (getData)="getData($event)"></xp-solr-multiselect>
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">Filter by Event name</label>
                        <div class="input-group" style="width:100%">
                            <input [(ngModel)]="data.eventname"
                                name="eventname"
                                [typeahead]="dataSource"
                                [typeaheadAsync]="true" 
                                (typeaheadLoading)="changeTypeaheadLoading($event)"
                                (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                                (typeaheadOnSelect)="typeaheadOnSelect($event)"
                                [typeaheadOptionField]="'name'"
                                [typeaheadOptionsLimit]="7"
                                [typeaheadMinLength]="0"
                                class="form-control">
                            <div *ngIf="typeaheadLoading===true">
                                <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
                            </div>
                            <div *ngIf="typeaheadNoResults===true" class="" style="">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>
                         </div>
                    </div>
                    <div class="form-group label-floating">
                        <button [disabled]="!solrForm.form.valid" type="submit" class="btn btn-primary btn-raised">Search</button>
                        <button (click)="reset($event)" id="search-by-title-reset" type="reset" class="btn btn-raised">Reset</button>&nbsp;&nbsp;
                    </div>
                </form>
            </div>
        </div>
        <div class="inputs" *ngIf="searchResult">
            <div class="col">
                <pagination *ngIf="result != undefined" class="pagination-md" [totalItems]="result.numFound" [(ngModel)]="data.page"
                    [maxSize]="data.size" [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="data.rows" (pageChanged)="pageChanged($event)">
                </pagination>
            </div>
            <div class="media" *ngFor="let movie of result.docs;let i = index">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="http://lorempixel.com/64/64/sports?random={{ i }}" data-holder-rendered="true" style="width: 64px; height: 64px;">
                    </a>
                </div> 
                <div class="media-body">
                    <h4 class="media-heading">{{movie.event_name[0]}}</h4>
                    <p>{{movie.event_type_desc}}</p>
                    <p>Created Date: {{movie.created_date | date: 'dd-MM-y HH:mm:ss'}} | Start Time: {{movie.start_time | date: 'dd-MM-y HH:mm:ss'}} | End Time: {{movie.end_time | date: 'dd-MM-y HH:mm:ss'}}</p> 
                </div>
            </div>
        </div>
    </div>
</div>