<spinner [visible]="isLoading"></spinner>
<div class="container" *ngIf="!isLoading">
    <div class="row">
        <div class="col-sm-4" *ngFor="let user of users">
            <md-card>
                <md-card-title-group>
                    <md-card-title>{{user.name}}</md-card-title>
                    <md-card-subtitle>
                        <p *ngIf="user.mail">
                            <i class="glyphicon glyphicon-user"></i> {{user.mail}}
                        </p>
                        <p *ngIf="user.roles">
                            <i class="glyphicon glyphicon-briefcase"></i> {{user.roles}}
                        </p>
                        <p *ngIf="user.timezone">
                            <i class="glyphicon glyphicon-globe"></i> {{user.timezone}}
                        </p>
                    </md-card-subtitle>
                    <a [routerLink]="['BlogUser', { name: user.name, id: user.uid }]"><img md-card-md-image class="img-circle img-responsive" src="{{user.avatar}}"></a>
                </md-card-title-group>
            </md-card>
        </div>
    </div>
</div>