
.clickable {
    cursor: pointer;
}

.thumbnail {
    border-radius: 100%;
}


.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.md-list-text-auto .md-list-text {
    width: auto !important;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
    background: #428bca;
    color: #fff !important;
}
