

<!-- this creates a google map on the page with the given lat/lng from the component as the initial center of the map: -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3> {{'translate_demo_heading' | translate }}</h3>
    </div>
    <div class="panel-body">
        <translate-demo></translate-demo>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3> {{'google_map_heading' | translate }}</h3>
    </div>
    <div class="panel-body">
        <google-maps-demo></google-maps-demo>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3> Notifications Demo</h3>
    </div>
    <div class="panel-body">
        <notifications-demo></notifications-demo>
    </div>
</div>