<div class="col-lg-12">
    <div class="input-group">
        <span class="input-group-addon">
        <span><i class="fa fa-search" aria-hidden="true"></i></span>
        </span>
        <div class="btn-group">
            <input [(ngModel)]="selected" [typeahead]="allTags" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeaheadOptionField]="'tag'"
                class="form-control" placeholder="Search for a tag ..." type="text">

        </div>
        <span *ngIf="selected !== ''" id="searchclear" class="input-group-addon"><i class="fa fa-times" aria-hidden="true" (click)="clearSearch()"></i></span>
    </div>
</div>
<div class="col-md-12">
    <div class="tag-list well well-sm">
        <h6 md-subheader><b>Trending Tags</b> <i class="fa fa-tags" aria-hidden="true"></i></h6>

        <a *ngFor="let tag of tags" href="javascript:void(0)" (click)="setSearch(tag)" class="btn btn-primary" role="button">
            <b>{{tag.tag}}</b>
            <small>({{tag.count}})</small>
        </a>

    </div>

</div>