<div class="container-fluid">
    <h1>{{ heading }}</h1>
    <div class="row">
        <div class="col well inputs">
            <form [formGroup]="blogForm" (ngSubmit)="save()">
            <fieldset>
                    <legend>
                        Blog Post
                    </legend>
                    <div class="form-group label-floating">
                        <label class="control-label" for="i1">Title</label>
                        <input  id="i1" 
                                [formControl]="blogForm.controls['title']"  
                                type="text" 
                                class="form-control">
                        <div *ngIf="blogForm.controls['title'].touched && !blogForm.controls['title'].valid" class="alert alert-danger">
                            Title is required.
                        </div>
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label" for="i3">Body</label>
                        <textarea   id="i3" 
                                    [formControl]="blogForm.controls['body']" 
                                    type="text" 
                                    class="form-control"></textarea>
                        <div *ngIf="blogForm.controls['body'].touched && !blogForm.controls['body'].valid" class="alert alert-danger">
                            Body is required.
                        </div>
                    </div>
                </fieldset>
                <button [disabled]="!blogForm.valid" type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>