<div class="container">
    <div class="row well">

        <h3><img class="pull-right" src="assets/img/omdb.png" height="60"><b>{{ title }}</b> </h3>
    </div>
    <div class="row">
        <div class="col well inputs">
            <form class="form-search" id="search-by-title-form" [ngFormModel]="form" (ngSubmit)="search()">
                <fieldset>
                   <!-- <legend>By Search</legend> -->

                    <div class="form-group label-floating">
                        <label class="control-label" for="s">Title</label>
                        <input [(ngModel)]="params.s" type="text" id="s" name="s" #s="ngForm" ngControl="s" type="text" class="form-control">
                        <div *ngIf="s.touched && !s.valid" class='alert alert-danger'>
                            Title is required.
                        </div>
                    </div>
                </fieldset>
                <button [disabled]="!form.valid" type="submit" class="btn btn-primary btn-raised">Search</button>
                <button id="search-by-title-reset" type="reset" class="btn btn-raised">Reset</button>&nbsp;&nbsp;
                <spinner [visible]="isLoading"></spinner>
            </form>
        </div>
        <div *ngIf="searchResult && !showDetail">
            <div class="col">
                
                
            <pagination *ngIf="result != undefined"
                    class="pagination-md"
                    [totalItems]="result.totalResults" 
                    [(ngModel)]="currentPage" 
                    [maxSize]="maxSize" 
                    [boundaryLinks]="true"
                    [rotate]="false" 
                    [itemsPerPage]="itemsPerPage" 
                    (pageChanged)="pageChanged($event)">
            </pagination>
            </div>
            <div class="col-md-3" *ngFor="let movie of result.Search">
                <md-card>
                    <a class="clickable" (click) = "showDetails(movie.imdbID)">
                        <img md-card-image src={{movie.Poster}} class="md-card-image" >
                        </a>
<!--                    <md-card-title class="md-subhead"><b>{{movie.Title}}</b></md-card-title> -->
                    <md-card-content>
                        <p> <b>{{movie.Title}}</b> </p>
                        <p><span class="fa fa-clock-o md-body-1" aria-hidden="true"> {{movie.Year}} </span> </p>
                        <p><span class="fa fa-film md-body-1" aria-hidden="true"> {{movie.Type}} </span> </p>

                    </md-card-content>
                </md-card>
            </div>
        </div>
        <div *ngIf="showDetail" class="col well">
                    <ul class="pager">
            <li class="previous">
                <a (click) = "hideDetail()">
                    <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back</a>
                    </li>
        </ul>
            <p>{{detailResult.Plot}}</p>
            </div>
    </div> <!-- row -->
</div>