<!--<article>
    <div [innerHTML]="post"></div>
    
</article> -->
<article>
    <pagination 
        class="pagination-md"
        [totalItems]="totalItems" 
        [(ngModel)]="currentPage" 
        [maxSize]="maxSize" 
        [boundaryLinks]="true"
        [rotate]="false" 
        [itemsPerPage]="itemsPerPage" 
        (pageChanged)="pageChanged($event)">
    </pagination>
    <div class="well" 
        *ngIf="searchService.searchJSON.tag !== undefined && searchService.searchJSON.tag !== ''">
        Search: <i class="fa fa-tags" aria-hidden="true"></i> 
        {{searchService.searchJSON.tag}}
        <div id="searchclear" class="pull-right">
            <i class="fa fa-times " aria-hidden="true" (click)="clearSearch()"></i>
        </div>
    </div>
</article>
<article>
    <blog-content *ngFor="let blog of pagedBlogs"
        [blogPost]="blog" 
        [showAbstract]="true" 
        [enableComments]="false"> 
    </blog-content>
</article>
<pagination 
    class="pagination-md"
    [totalItems]="totalItems" 
    [(ngModel)]="currentPage" 
    [maxSize]="maxSize" 
    [boundaryLinks]="true"
    [rotate]="false" 
    [itemsPerPage]="itemsPerPage" 
    (pageChanged)="pageChanged($event)">
</pagination>