<md-card>
    <md-card-title> People List </md-card-title>
    <md-card-content>
        <div class="inputs col">
            <form (submit)="people.push({name: newPerson.value})">
                <div class="form-group  label-floating">
                    <label for="newPerson" class="control-label">Add</label>
                    <input class="form-control" #newPerson>
                </div>
            </form>
        </div>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let person of people | async">
                Worker: {{ person.name }} 
                <i (click)="javascript:void(0)" class="fa fa-trash clickable" aria-hidden="true"></i>
                <div class="inputs col">
                    <form (submit)="person.todos.push({text: newTodo.value})">
                        <div class="form-group  label-floating">
                            <label for="newTodo" class="control-label">Add</label>
                            <input class="form-control" #newTodo>
                        </div>
                    </form>
                </div>
                <ul class="list-group">
                    <p>TODO List<p>
                    <li class="list-group-item color-blue" *ngFor="let todo of person.todos | async">
                        {{ todo.text }}
                    </li>
                </ul>
            </li>
        </ul>
    </md-card-content>
</md-card>