<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <label> Login</label>
                    </div>
                    <hr>
                    <div *ngIf="error" class="alert alert-danger">Check your username & password. Use test/test</div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" [ngFormModel]="form" (ngSubmit)="login()" style="display: block;">
                                <div class="form-group">
                                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" ngControl="username"
                                        #username="ngForm">
                                    <div *ngIf="username.touched && username.errors">
                                        <div *ngIf="username.errors.invalidLogin" class="alert alert-danger">Username or password is invalid.
                                        </div>
                                        <div *ngIf="username.errors.required" class="alert alert-danger">Username is required.
                                        </div>
                                        <div *ngIf="username.errors.cannotContainSpace" class="alert alert-danger">Username cannot contain space.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" ngControl="password"
                                        #password="ngForm">
                                    <div *ngIf="password.touched && !password.valid" class="alert alert-danger">Password is required.</div>
                                </div>
                                <div class="form-group text-center">
                                    <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                    <label for="remember"> Remember Me</label>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <button class="form-control btn btn-primary" name="login-submit" id="login-submit" type="submit" [disabled]="!form.valid" tabindex="4">Log In</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>