<md-card>
    <img md-card-image src={{blogPost.currentImage}} class="md-card-image">
    <md-card-title>{{blogPost.title}}</md-card-title>
    <md-card-content>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <span class="fa fa-folder-open" aria-hidden="true"></span> {{blogPost.category}}
                <span class="fa fa-tags" aria-hidden="true"></span> {{blogPost.tagStr}}
            </div>
            <div class="col-sm-6 col-md-6">
                <span class="fa fa-commenting" aria-hidden="true"></span> {{blogPost.commentsCount}} Comments
                <span class="fa fa-clock-o" aria-hidden="true"></span> {{blogPost.postDate | date:'longDate'}}
            </div>
        </div>
        <md-divider></md-divider><br/>
        <p *ngIf="!showAbstract">{{blogPost.body}}</p>
        <p *ngIf="showAbstract">{{blogPost.abstract}}</p>

    </md-card-content>
    <md-card-actions align="end">
        <span><like [totalLikes]=blogPost.likes></like>
            <button md-button>Share <i class="fa fa-share" aria-hidden="true"></i></button>
            <a *ngIf="showAbstract" md-button [routerLink]="['Blog', { id: blogPost.id }]">
                Continue reading <i class="fa fa-external-link" aria-hidden="true"></i>
            </a>
            <button *ngIf="enableComments" md-button (click)="toggleComments()">
                <div *ngIf="!showComments">Show Comments <i class="fa fa-plus-circle" aria-hidden="true"></i> </div>
                <div *ngIf="showComments">Hide Comments <i class="fa fa-minus-circle" aria-hidden="true"></i> </div>
            </button>
            </span>
    </md-card-actions>
</md-card>