<div class="row">
    <div class="col">
        <blog-content 
            [blogPost]="blogPost" 
            [showAbstract]="false" 
            [showComments]="showComments"
            (show-comments)="onShowComments($event)"
            > 
         </blog-content>
        <ul class="pager">
            <li class="previous">
                <a [routerLink]="['Home']">
                    <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back to posts</a>
                    </li>
        </ul>
        <!-- Comment form -->
        <comments-form></comments-form>
        <comments [comments]="blogPost.comments" [showComments]="showComments"></comments>
    </div>
</div>
<!-- row ending -->