<div *ngIf="!error">
    <div class="container-fluid span3 blog-user">
        <div class="col-sm-3">
            <md-card>
                <img class="img-circle img-responsive" src="{{blogUser.avatar}}">
                <md-card-title>
                    <h5 *ngIf="blogUser.name">
                        <b>{{blogUser.name}}</b>
                    </h5>
                </md-card-title>
                <md-card-content>
                    <p *ngIf="blogUser.mail">
                        <i class="glyphicon glyphicon-user"></i> {{blogUser.mail}}
                    </p>
                    <p *ngIf="blogUser.roles">
                        <i class="glyphicon glyphicon-briefcase"></i> {{blogUser.roles}}
                    </p>
                    <p *ngIf="blogUser.timezone">
                        <i class="glyphicon glyphicon-globe"></i> {{blogUser.timezone}}
                    </p>
                </md-card-content>
            </md-card>

        </div>
        <div class="col-sm-9">
            <md-card>
                <md-card-title>
                    <h2> Blog Posts </h2>
                </md-card-title>
                <md-card-content>
                    <md-nav-list>
                        <a md-list-item *ngFor="let blog of blogUser.publications" [routerLink]="['Blog', { id: blog.id }]">{{blog.title}}</a>
                    </md-nav-list>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
<div *ngIf="error">
    <div class="alert alert-info">
        <strong>Error in getting user details!</strong> {{errorDetails}} </div>
</div>