<spinner [visible]="isLoading"></spinner>
<div *ngIf="!error && !isLoading">
    <div class="container-fluid span3 blog-user">
        <div class="col-sm-3">
            <md-card>
                <img class="img-circle img-responsive" src="{{blogUser.avatar}}">
                <md-card-title>
                    <h5 *ngIf="blogUser.name">
                        <i class="glyphicon glyphicon-user"></i><b> {{blogUser.name}}</b>
                    </h5>
                </md-card-title>
                <md-card-content>
                    <p *ngIf="blogUser.mail">
                        <i class="glyphicon glyphicon-envelope"></i> {{blogUser.mail}}
                    </p>
                    <p *ngIf="blogUser.roles">
                        <i class="glyphicon glyphicon-briefcase"></i> {{blogUser.roles}}
                    </p>
                    <p *ngIf="blogUser.timezone">
                        <i class="glyphicon glyphicon-globe"></i> {{blogUser.timezone}}
                    </p>
                </md-card-content>
            </md-card>

        </div>
        <div class="col-sm-9 well">
            <table id="blog-user-table" *ngIf="blogUser.publications && blogUser.publications.length" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Posts</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let blog of blogUser.publications">
                        <td><a md-list-item [routerLink]="['/blog', { id: blog.nid }]">{{blog.title}}</a></td>
                        <td>
                            <i *ngIf="auth.user.data.name == blogUser.name" (click)="deletePost(blog.nid)" class="fa fa-trash clickable" aria-hidden="true"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="!(blogUser.publications && blogUser.publications.length)">
                <p md-list-item>No Blogs Posts to show</p>
            </div>
            <!--     <md-card>
                <md-card-title>
                    <h2> Blog Posts </h2>
                </md-card-title>
                <md-card-content>
                    <md-nav-list *ngIf="blogUser.publications && blogUser.publications.length">
                        <span *ngFor="let blog of blogUser.publications">
                            <a md-list-item  [routerLink]="['Blog', { id: blog.nid }]">{{blog.title}}</a>
                        <i class="glyphicon glyphicon-remove" (click)="deletePost(blog.nid)"></i>
                        </span>
                    </md-nav-list>
                    <md-nav-list *ngIf="!(blogUser.publications && blogUser.publications.length)">
                        <p md-list-item>No Blogs Posts to show</p>
                    </md-nav-list>
                </md-card-content>
            </md-card> -->
        </div>
    </div>
</div>
<div *ngIf="error && !isLoading">
    <div class="alert alert-info">
        <strong>Error in getting user details!</strong> {{errorDetails}} </div>
</div>