
.blog-user {
  display: flex;
  flex-flow: row wrap;

  md-list, md-nav-list {
    border: 1px solid rgba(0,0,0,0.12);
  //  width: 350px;
    margin: 20px 20px 0 0;

  }
  h2 {
    margin-top: 20px;
  }

 /* i {
    color: rgba(0,0,0,0.12);
  }*/
}

.blog-user-secondary-text {
  color: rgba(0, 0, 0, 0.54);
}

.blog-user-table {
   display: table-cell;
    vertical-align: middle;
    text-align: center;
  
}