<div *ngIf="!error">
    <div class="col-sm-3">
        <img class="img-circle" src="{{blogUser.avatar}}" />
        <p *ngIf="blogUser.name">
            <i class="glyphicon glyphicon-user"></i> {{blogUser.name}}
        </p>
        <p *ngIf="blogUser.company">
            <i class="glyphicon glyphicon-briefcase"></i> {{blogUser.company}}
        </p>
        <p *ngIf="blogUser.location">
            <i class="glyphicon glyphicon-globe"></i> {{blogUser.location}}
        </p>
    </div>
    <div class="col-sm-9">
        <h2> Blog Posts </h2>
        <md-nav-list>
            <a md-list-item *ngFor="let blogs of blogUser.publications" href="javascript:void(0)">{{blogs.title}}</a>
        </md-nav-list>
    </div>
</div>
<div *ngIf="error">
    <div class="alert alert-info">
        <strong>Error in getting user details!</strong> {{errorDetails}} </div>
</div>